*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
BODY{
    font-family: 'Poppins', sans-serif;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
.cart_col img{
    
    transition: 0.9s;

}
.cart:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
    background: linear-gradient(white ,black 90px);
    border-radius: 30%;
    transition: 0.9s;
  }
  
 a{
     text-decoration: none;
     color: #555555;
 }
 .container{
     max-width: 1300px;
     margin: auto;
     padding-left: 25px;
     padding-right: 25px;
     
 }
 h1{
     text-transform: capitalize;
 }
 p{
     color: #555;
 }
 .row{
     display: flex;
     align-items: center;
     flex-wrap: wrap;
     justify-content: space-around;
     
 }
 .col_1{
    flex-basis: 50%;
    min-width: 300px;
 }
 .col_2{
     flex-basis: 50%;
     min-width: 300px;
 }
 .col_2 img{
     max-width: 100%;
     padding: px 0;
     transition: 1s
 }
 .header_image:hover {
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2); 
    transition: 1s
 }
 
 .col_1 h1{
     font-size: 50px;
     line-height: 60px;
     margin: 25px 0;
 }
 .btn{
     display: inline-block;
     background: orangered;
     color: #fff;
     padding: 8px 30px;
     margin: 30px 0;
     border-radius:30px ;
     transition : 2s;
 }

 .btn:hover{
     background-color: aqua;
     
 }
 .header{
     background: linear-gradient(to right,white 50% , rgb(15, 175, 238) );
 }
 .HEADER .row{
     margin-top: 70px;
 }
 /*sidenav*/
 .sidenav_hide{
     visibility: hidden;
 }
 /*menubtn*/
 #menubtn{
    width: 30px;
    position: fixed;
    right: 5px;
    top: 34px;
    z-index: 2;
    cursor: row-resize;
}
#sidenav{
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    z-index: 2;
    background: rgba(30, 93, 134, 0.808);
    transition-duration: .5s;
}

 /* category*/
 .category{
     margin:70px 0 ;
 }

 .col_3{
      flex-basis: 30%;
      min-width: 250px;
      margin-bottom: 30px;
 }
 .col_3 img{
     width: 100%;
 }
 .s_container{
     max-width: 1080px;
     margin: auto;
     padding-left: 25px;
     padding-right: 25px;
     
 } 
 /*featured product*/
 .col_4{
     flex-basis: 25%;
     padding: 10px;
     max-width: 200px;
     margin-bottom: 50px;
 }
 .col_4 img{
     width: 100%;
 }

 /*offer*/
 .col_1offer{
    flex-basis: 50%;
    min-width: 300px;
 }
 .col_2offer{
     flex-basis: 50%;
     min-width: 300px;
 }
 .offer_h1{
     transition: 1s;
 }
 .offer_h1:hover{
     background-color: ;
     color: #16ec9a;
     margin-top: 30px;
     
 }
 .col_1offer img{
     max-width: 100%;
     opacity: 30%;
 }
 .offer{
    background: radial-gradient(#fff,rgb(10, 150, 206));
    margin-top: 80px;
    padding: 30px;
 }
 .offer_img{
   padding: 50px;  
   transition: 1s
 }
 .offer_img:hover{
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2); 
    opacity: 100%;
   
 }
 /* offer end*/

 /*person_profile*/
 .person_profile{
    padding-top: 100px;
 }
 .person_profile .col_3{
     text-align: center;
     padding: 40px 20px;
     box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
     cursor: pointer;
     transition: 0.5s;
     max-height: 1500px;
     max-width: 100px;
     
 }
 .person_profile .col_3 img{
     width: 50px;
     margin-top: 20px;
     border-radius: 50%;
 }
 .person_profile .col_3:hover{
     transform: translateY(-10px);
 }
 /* person_profile end */

 /*footer*/
 .footer{
     background-color: black;
     color: #8a8a8a;
     font-size: 14px;
     padding: 60px 0 20px;
 }
 .footer h3{
     color: #fff;
     margin-bottom: 20px;
 }
 .footer_col_1 , .footer_col_2 , .footer_col_3{
     max-width: 250px;
     margin-bottom: 20px;
 }
 .footer_col_1{
     flex-basis: 30%;
 }
 .footer_col_2{
    flex:1;
    text-align: center;
}
.footer_col_2 img{
    width: 180px;
    margin-bottom: 20px;
}
.footer_col_3 ul{
    list-style-type: none;
}
.footer_col_3 {
    text-align: center;
}

.store_logo img{
    width: 120px;
}
.store_logo{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;

}
.menu_icon{
    width: 28px;
    display: none;
}

/*media query

@media only screen and (max-width:800px){
    nav ul{
        position: obsolute ;
        top:70px;
        left: 0;
         background: #333;
         width: 100%; 
         overflow: hidden;
         transition: mx height 0.5s;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px ;
    }
    nav ul li a{
        color: white;
    }
    .menu_icon{
        display: block;
        cursor: pointer;
    }
}
*/

@media only screen and (max-width: 600px){
    .row{
        text-align: center;
    }
    .col_1,.col_2,.col_3,.col_4{
        flex-basis: 100%;
        text-align: center;
    }
    .featured_small .col_4 img{
        width: 100%;
    }
    .col_4{
        flex-basis: 30%;
      min-width: 300px;
      margin-bottom: 30px;
    }
    .footer_col_1,.footer_col_2,.footer_col_3{
        flex-basis: 100%;
        text-align: center;
        justify-content: space-between;
    }
    .sidenav_hide{
        visibility: visible;
    }
    #menuitems{
        display: none;
    }
   .sidenav_hide nav{
        flex: ;
        text-align: ;
    }
    .sidenav_hide  nav ul{
        display:list-item;
        list-style-type: ;
    }
    .sidenav_hide  nav ul li{
        display: list-item;
        margin-right: 150px;
        font-size: 25px;
        margin-top: 30px;
        
    }
    .sidenav_hide  nav ul li a{
        color: white;
    }
    
}